<script src="/socket.io/socket.io.js"></script>
<script>

  const getCookie = (name) => {
    return document.cookie
      .split('; ')
      .find(row => row.startsWith(`${name}=`))
      .split('=')[1];
  }

  const logout = () => {
    socket.emit("removeUser", getCookie("connection"));
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/logout", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send();
    window.location.href = '/login';
  }

  const exchange = (emitter, receiver) => {
    socket.emit('askExchange', [emitter, receiver]);
  }

  const generateUserItem = (user) => {
    return `
        <div class="col-6">
            <p>${user.username}<p>
        </div>
        <div class="col-5">
            <button class="btn btn-primary" onclick="exchange('${CURRENT_SOCKET}', '${user.socketID}')">Exchange</button>
        </div>
    `
  }

  const getUsernameFromSocket = (socketID) => {
    return USERS.find(u => u.socketID === socketID).username;
  }

  let USERS = [];
  let CURRENT_SOCKET = null;

  var socket = io.connect();

  socket.emit("addUser", getCookie("connection"));

  socket.on('sendUsers', (users) => {
    USERS = users;
    CURRENT_SOCKET = socket.id;
    let doc = document.getElementById('users-list');
    doc.innerHTML = ""
    users.map(u => {
      if (u.username !== getCookie("connection")) {
        let li = document.createElement("li");
        li.classList = "row justify-content-around align-items-center";
        li.innerHTML = generateUserItem(u)
        doc.append(li)
      }
    });
  });

  socket.on('receiveAskExchange', (socketIDS) => {
    let confirmResult = confirm(`${socketIDS[0]} would like to exchange personal business cards.`);
    if (confirmResult) {
      socket.emit("answerTrueExchange", socketIDS)
    } else {
      socket.emit("answerFalseExchange", socketIDS)
    }
  });

  socket.on('proceedExchange', (data) => {
    const xhr = new XMLHttpRequest();
    xhr.open("POST", `/profile/exchange/${getUsernameFromSocket(data)}`, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send();
    alert(`Exchange made`);
    location.reload();
  })

  socket.on('cancelExchange', (data) => {
    alert(`${data[1]} cancelled the exchange`)
  })

</script>
