* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #141416;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: snow;
}

.custom-input {
  background: #232226;
  color: snow;
  border: 0;
  border-radius: 10px;
  padding: 1em;
}

.custom-input:focus {
  background: #232226;
  border: 0;
  color: snow;
  caret-color: snow;
}

.custom-hr {
  color: snow;
}

#mismatch-password-error, #user-already-exists-error {
  display: none;
}

#mismatch-password-error p, #user-already-exists-error p {
  color: orange;
}

#btn-logout {
  position: absolute;
  top: 1em;
  right: 2em;
}

