* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #141416;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: snow;
}

.custom-input {
  background: #232226;
  color: snow;
  border: 0;
  border-radius: 10px;
  padding: 1em;
}

.custom-input:focus {
  background: #232226;
  border: 0;
  color: snow;
  caret-color: snow;
}

.custom-hr {
  color: snow;
}

#mismatch-password-error, #user-already-exists-error {
  display: none;
}

#mismatch-password-error p, #user-already-exists-error p {
  color: orange;
}

#business-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#business-cards-container {
  margin-right: 25vw;
}

#users-list {
  list-style: none;
  padding-left: 1em;
}

#users-list li p {
  margin: 0;
}

#users-container {
  right: 0;
  top: 0;
  margin-left: 25vw;
  width: 25vw;
  height: 100vh;
  position: fixed;
  background: #232226;
}


